.filters {
  background-color: whitesmoke;
}

.filter-name {
  font-size: 24px;
  margin-bottom: 3px;
  font-weight: 600;
}
.filter-type {
  margin: 15px 0;
  text-align: left;
}
.filter-item {
  margin: 5px 0;
  display: flex;
  align-items: center;

  cursor: pointer !important;
}
.filter-item input,
.filter-item label {
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
input[type="checkbox"] {
  margin-left: 10px;
  transform: scale(1.1);
}
.active {
  background-color: cornflowerblue !important;
  border-radius: 10px;
  border: 2px solid #0047cc;
  font-weight: 600;
}
.filter-item:hover {
  background-color: #bad2fe;
  border-radius: 10px;
}
.filter-item label {
  width: 100%;
  display: block;
  padding: 8px 16px;
}
