.search-input {
  width: 100%;
  border: 2px solid gray;
  color: black;
  padding: 7px 10px;
  font-size: 16px;

  border-radius: 10px;
  background-color: whitesmoke;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 15px auto 30px;
  position: relative;
}

.fa-xmark {
  position: absolute;
  right: 8px;
}

.fa-xmark:hover {
  color: #0047cc;
  cursor: pointer;
}
